menu "Lilygo_Device_Driver Configuration"

    choice
        prompt "Select the device to build"
        default DEVICE_T_GLASSES_P4
            config DEVICE_T_GLASSES_P4
                bool "T-Glasses-P4"
            config DEVICE_T_DISPLAY_P4_AIR
                bool "T-Display-P4-Air"
            config DEVICE_T_SPE
                bool "T-Spe"
            config DEVICE_T_DISPLAY_P4
                bool "T-Display-P4"
    endchoice

endmenu
